{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Inbox - Medical App
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Medi-Cal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="navbar-text ml-auto">
                    Welcome, {{ user.first_name }} {{ user.last_name }}
                </span>


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors' %}">Doctors</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' %}">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


{% endblock %}


{% block main %}
    <main>
        <div class="container-fluid mt-5">
            <div class="row">
                <!-- Sub menu showing options for dashboard -->
                <div class="col-2">
                    <div class="list-group">
                        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">
                            News
                        </a>
                        <a href="{% url 'schedule_appt' %}" class="list-group-item list-group-item-action">
                            Schedule
                        </a>
                        <a href="{% url 'inbox' %}" class="list-group-item list-group-item-action active">
                            Inbox
                        </a>
                        <a href="{% url 'provider' %}" class="list-group-item list-group-item-action">
                            Provider
                        </a>
                        <a href="{% url 'recipes' %}" class="list-group-item list-group-item-action">
                            Medicine Info
                        </a>
                        <a href="{% url 'b4-logout' %}" class="list-group-item list-group-item-action">
                            Log out
                        </a>
                    </div>
                </div>

                <div class="col-10">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#historyModal">History
                                    </button>
                                </div>
                                <div class="col">
                                    <h5 class="text-center">Inbox</h5>
                                </div>

                                <div class="col text-right">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal" id="btn-new-msg">
                                        New Message
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            {% if inbox_in.count == 0 %}
                                <p class="text-center">No Messages Found!</p>
                            {% else %}
                                <div class="list-group">
                                    {% for inbox in inbox_in %}
                                        <a href="#" class="list-group-item list-group-item-action main-inbox"
                                           data-toggle="modal" data-target="#inboxInformationModal"
                                           id="{{ inbox.id }}">
                                            <div class="row">
                                                <div class="col-4">
                                                    {{ inbox.sender }}
                                                </div>
                                                <div class="col">
                                                    <strong>{{ inbox.title }}</strong>
                                                </div>
                                                <div class="col">
                                                    {{ inbox.received_at }}
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

<!-- MODAL FOR NEW MESSAGE -->
{% block modals %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Send</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- END MODAL FOR NEW MESSAGE -->

    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel"
         aria-hidden="true">
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="historyModalLabel">History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if inbox_out.count == 0 %}
                        <h5 class="text-center">No messages found!</h5>
                    {% else %}
                        <div class="list-group">
                            {% for inbox in inbox_out %}
                                <a href="#collapseHistoryInbox-{{ inbox.id }}"
                                   class="list-group-item list-group-item-action history-inbox" id="{{ inbox.id }}"
                                   data-toggle="collapse" aria-expanded="false"
                                   aria-controls="collapseHistoryInbox-{{ inbox.id }}">
                                    <div class="row">
                                        <div class="col">
                                            {{ inbox.recipient }}
                                        </div>

                                        <div class="col">
                                            <strong>{{ inbox.title }}</strong>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseHistoryInbox-{{ inbox.id }}">
                                        <div class="card card-body mt-4">
                                            <div class="container">
                                                <h6 id="inboxHistoryTitle-{{ inbox.id }}"></h6>
                                                <hr>
                                                <h6 id="inboxHistoryRecipient-{{ inbox.id }}"></h6>
                                                <hr>
                                            </div>
                                            <div class="container mt-3 mb-3">
                                                <p id="inboxHistoryMessage-{{ inbox.id }}" class="mt-5 mb-5"></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}

                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inboxInformationModal" tabindex="-1" role="dialog"
         aria-labelledby="inboxInformationModalLabel"
         aria-hidden="true">
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h6 id="inboxInformationModalLabel"></h6>
                        <hr>
                        <h6 id="inbox-sender"></h6>
                        <hr>
                    </div>
                    <div class="container mt-3 mb-3">
                        <p id="inboxModalContent" class="mt-5 mb-5"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {

            $("#btn-new-msg").click(function() {
                $("input[name='recipient']").val("");
                $("input[name='title']").val("");
                $("textarea[name='message']").val("");
            });


            $(".main-inbox").click(function () {
                var id = $(this).attr("id");
                $.ajax({
                    url: "/ajax_inbox/",
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        data = JSON.parse(data)[0];
                        $("#inboxInformationModalLabel").text('Title: ' + data['fields'].title);
                        $("#inbox-sender").text('From: ' + data['fields'].sender);
                        $("#inboxModalContent").text(data['fields'].message);
                    }
                })
            });

            $(".history-inbox").click(function () {
                var id = $(this).attr("id");
                $.ajax({
                    url: "/ajax_inbox_history",
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        data = JSON.parse(data)[0];
                        $("#inboxHistoryTitle-"+ id).text('Title: ' + data['fields'].title);
                        $("#inboxHistoryRecipient-"+ id).text('Recipient: ' + data['fields'].recipient);
                        $("#inboxHistoryMessage-"+ id).text(data['fields'].message);
                    }

                })
            });

        })
    </script>
{% endblock %}