{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Provider - Medical App
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Medi-Cal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <span class="navbar-text ml-auto">
                    Welcome, {{ user.first_name }} {{ user.last_name }}
                </span>


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors' %}">Doctors</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' %}">Profile</a>
                    </li>
                </ul>


            </div>
        </nav>
    </header>
{% endblock %}


{% block main %}
    <main>
        <div class="container-fluid mt-5">
            <div class="row">
                <!-- Sub menu showing options for dashboard -->
                <div class="col-2">
                    <div class="list-group">
                        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">
                            News
                        </a>
                        <a href="{% url 'schedule_appt' %}" class="list-group-item list-group-item-action">
                            Schedule
                        </a>
                        <a href="{% url 'inbox' %}" class="list-group-item list-group-item-action">
                            Inbox
                        </a>
                        <a href="{% url 'provider' %}" class="list-group-item list-group-item-action  active">
                            Provider
                        </a>
                        <a href="{% url 'recipes' %}" class="list-group-item list-group-item-action">
                            Medicine Info
                        </a>
                        <a href="{% url 'b4-logout' %}" class="list-group-item list-group-item-action">
                            Log out
                        </a>
                    </div>
                </div>

                <div class="col-10">
                    <div class="card ">
                        <div class="card-header">
                            <h5 class="text-center">Provider Information</h5>
                        </div>
                        <div class="card-body">
                            <div class="col text-center">
                                <div class="row">
                                    <div class="col">
                                        <p>ID: <strong>#1028934092</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Name: <strong>Antonio Guzman</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Hospital: <strong>Kaiser Permanentte</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Specialization: <strong>Surgeon</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Phone: <strong>(666) 452-6996</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Email: <strong>AntonioGuzmanMD@kaiser.com</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

